::selection {
    background-color: rgba(255,238,51,0.99);
}
a {
    all: unset;
}
a:hover {
    cursor: pointer;
}
.noDragging {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.header {
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Hind', sans-serif;
    color:#474747;
    border-bottom: 1px solid #DEDEDE;
    z-index: 100;
}
/* block과 inline block을 구분하고 header에 text-align을 center로 정렬해서
inline-block만 가운데로 정렬시킴 */
.header > .container {
    width: 89vw;
    margin: 0 auto;
}
.text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
}
.title {
    float: left;
    font-size: 1.7rem;
    font-weight: 500;
} 
.title:hover {
    cursor: pointer;
}
.title > a {
    color:#3B3B3B;
}
.navContainer {
    display: inline-block;
    font-size: 0;
}
.nav {
    display: inline-block;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    height: 59px;
    font-weight: 400;
    color:#3B3B3B;
    margin: 0 13px;
}
.nav:hover {
    border-bottom-style: solid;
    border-width: 2px;
    cursor: pointer;
}
.lang {
    float: right;
    font-size: 0;
}
.lang:hover {
    cursor: pointer;
}
.btn {
    padding: 0 7px;
    font-weight: 300;
    font-size: 1rem;
}
.btn:hover {
    font-weight: 500;
}
.selected {
    font-weight: 500;
}
.content {
    padding-top: 60px;
}
.content > .main > .img {
    height: calc(100vh - 60px);
    background-image: url('../img/mainImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.content > .main > .text {
    position: absolute;
    left: 9vw;
    top: 28%;
    line-height: 4.5rem;
    color: white;
}
.cardContainer {
    padding-top: 85px;
    padding-right: 80px;
    padding-bottom: 85px;
    padding-left: 80px;
    width: calc(100vw - 160px);
}
.card {
    position: relative;
    border-radius: 1.38888889vw;
    margin-bottom: 2.47222222vw;
    padding-top: 3.47222222vw;
    padding-right: 3.47222222vw;
    padding-bottom: 0;
    padding-left: 3.47222222vw;
    height: 40vw;
    background: #f4f4f4;
    overflow: hidden;
}
.card > h2 {
    line-height: 4rem;
}
.cardLink {
    display: inline-flex;
    align-items: center;
    margin-top: 5vh;
    font-size: 1.4rem;
    color: #383838;
}
.cardLink:hover {
    cursor: pointer;
    text-decoration: underline;
}
.card1 .photo {
    height: 70%;
    margin-top: 8vh;
    background-image: url('../img/cardImg1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.card2 .photo {
    position: absolute;
    right: 5%;
    left: auto;
    top: auto;
    width: 60%;
    height: 60%;
    margin-top: 0vh;
    background-image: url('../img/cardImg2.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 50;
}
.summary {
    display: flex;
    justify-content: center;
}
.summaryInfo {
    width: 29%;
    padding: 0 1%;
}
.summaryInfo a:hover .sumTitle {
    cursor: pointer;
    text-decoration: underline;
}
.sumMain {
    padding-bottom: 1.5rem;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
}
.sumTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #111;
}
.sumContent {
    padding-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 200;
    height: 40px;
    color:#666;
    overflow: hidden;
    word-break: keep-all;
}
.numStock {
    display: inline-block;
    padding-top: 20px;
    font-size: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}
.descStock {
    display: inline-block;
    padding-left: 5px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: red;
}
.stockDate {
    padding-top: 28px;
    font-size: 12px;
    color: #1e1e1e;
    clear: both;
}
.service {
    display: flex;
    justify-content: center;
    margin-top: 9vh;
    margin-bottom: 10vh;
}
.serviceInfo {
    margin: 0 1%;
    width: 29%;
    height: 480px;
}
.serviceInfo > .photoContainer {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: tomato;
    border-radius: 2rem;
}
.serviceInfo .serviceMain {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 20px;
    left: 25px;
}
.service .info2 .serviceMain {
    color: white;
}
.serviceInfo > .textContainer {
    margin-top: 40px;
    width: 100%;
    height: 130px;
}
.serviceInfo .serTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #111;
    word-break: keep-all;
}
.serviceInfo .serContent {
    padding-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 200;
    height: 40px;
    color:#666;
    overflow: hidden;
    word-break: keep-all;
}