.body {
    word-break: keep-all;
}
::selection {
    background-color: rgba(255,238,51,0.99);
}
a {
    all: unset;
}
a:hover {
    cursor: pointer;
}
.noDragging {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.header {
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Hind', sans-serif;
    color:#474747;
    border-bottom: 1px solid #DEDEDE;
    z-index: 100;
}
/* block과 inline block을 구분하고 header에 text-align을 center로 정렬해서
inline-block만 가운데로 정렬시킴 */
.header > .container {
    width: 92%;
    margin: 0 auto;
}
.text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.75vw;
    font-weight: 700;
}
.title {
    float: left;
    font-size: 1.7rem;
    font-weight: 500;
} 
.title:hover {
    cursor: pointer;
}
.title > a {
    color:#3B3B3B;
}
.navContainer {
    display: inline-block;
    font-size: 0;
}
.nav {
    display: inline-block;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    height: 60px;
    font-weight: 500;
    color:#3B3B3B;
    padding: 0 13px;
    text-underline-offset: 20px;
}
.nav5, .nav6 {
    height: 59px;
    text-underline-offset: 21px;
}
.nav:hover {
    text-decoration: solid underline #3B3B3B 2px;
    cursor: pointer;
}
.lang {
    float: right;
    font-size: 0;
}
.lang:hover {
    cursor: pointer;
}
.btn {
    padding: 0 7px;
    font-weight: 300;
    font-size: 1rem;
}
.btn:hover {
    font-weight: 500;
}
.selected {
    font-weight: 500;
}
.content {
    padding-top: 60px;
}
.content > .main > .img {
    height: calc(100vh - 60px);
    background-image: url('../img/mainImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.content > .main > .text {
    position: absolute;
    left: 9vw;
    top: 28%;
    line-height: 4.5vw;
    color: white;
}
.cardContainer {
    margin-top: 10vw;
    margin-bottom: 10vw;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}
.card {
    position: relative;
    border-radius: 1.38888889vw;
    margin-bottom: 4vw;
    padding-top: 3.47222222vw;
    padding-right: 3.47222222vw;
    padding-bottom: 0;
    padding-left: 3.47222222vw;
    height: 40vw;
    background: #f4f4f4;
    overflow: hidden;
}
.card > h2 {
    line-height: 4.5vw;
}
.cardLink {
    display: inline-flex;
    align-items: center;
    margin-top: 4vw;
    font-size: 2vw;
    color: #383838;
}
.cardLink:hover {
    cursor: pointer;
    text-decoration: underline;
}
.card1 .photo {
    height: 55%;
    margin-top: 8vh;
    background-image: url('../img/cardImg1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.card2 .photo {
    position: block;
    margin-left: 40vw;
    bottom: 5%;
    width: 60vw;
    height: 20vw;
    background-image: url('../img/cardImg2.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.summary {
    display: flex;
    justify-content: center;
}
.summaryInfo {
    width: 29%;
    padding: 0 1%;
}
.summaryInfo a:hover .sumTitle {
    cursor: pointer;
    text-decoration: underline;
}
.sumMain {
    padding-bottom: 1.5rem;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
}
.sumTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #111;
}
.sumContent {
    padding-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 200;
    height: 40px;
    color:#666;
    overflow: hidden;
    word-break: keep-all;
}
.numStock {
    display: inline-block;
    padding-top: 20px;
    font-size: 32px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}
.descStock {
    display: inline-block;
    padding-left: 5px;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: red;
}
.stockDate {
    padding-top: 28px;
    font-size: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    color: #1e1e1e;
    clear: both;
}
.service {
    display: flex;
    justify-content: center;
    margin-top: 9vh;
    margin-bottom: 150px;
}
.serviceInfo {
    margin: 0 1%;
    width: 29%;
    height: 480px;
}
.serviceInfo > .photoContainer {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: rgba(255,238,51,0.99);
    border-radius: 2rem;
    cursor: pointer;
}
.info1 .photoContainer{
    background-image: url('../img/service.png');
    background-size: cover;
}
.info2 .photoContainer{
    background-image: url('../img/tech.jpg');
    background-size: cover;
}
.info3 .photoContainer{
    background-image: url('../img/social.jpg');
    background-size: cover;
}
.serviceInfo a:hover .serTitle {
    text-decoration: underline;
}
.serviceInfo .serviceMain {
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    position: absolute;
    top: 20px;
    left: 25px;
}
.service .serviceMain {
    color: white;
}
.serviceInfo > .textContainer {
    margin-top: 30px;
    width: 100%;
    height: 120px;
}
.serviceInfo .serTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #111;
    word-break: keep-all;
}
.serviceInfo .serContent {
    padding-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 200;
    height: 40px;
    color:#666;
    overflow: hidden;
    word-break: keep-all;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-top: 1px solid #DEDEDE;
}
.footerContainer {
    position: relative;
    width: 92%;
    height: 60px;
    color: #666;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: 200;
}
.copyContainer {
    line-height: 23px;
    margin-top: 3px;
    word-break: keep-all;
}
.footer a {
    color: #666;
}
.linkInfo {
    display: inline-block;
    padding-right: 16px;
}
.linkTxt {
    padding-right: 16px;
    font-weight: 700;
    cursor: pointer;
}
.siteContainer {
    position: absolute;
    width: 160px;
    height: 20px;
    top: 3px;
    right: 0;
    border-bottom: 1px solid #666;
    cursor: pointer;
}
.siteContainer .fa-plus {
    position: absolute;
    right: 0;
    font-size: 10px;
}

/* header의 navigation 창들 */
.openedNav {
    display: none;
    position: absolute;
    top: 67px;
    left: 50%;
    width: 100vw;
    transform: translateY(-7px) translateX(-50%);
    background-color: white;
    border-top: 1px solid #DEDEDE;
}
.nav1:hover ~ .openedNav1 {
    display: block;
} 
.nav2:hover ~ .openedNav2 {
    display: block;
}
.nav3:hover ~ .openedNav3 {
    display: block;
}
.nav4:hover ~ .openedNav4 {
    display: block;
}
.openedNav1:hover {
    display: block;
}
.openedNav2:hover {
    display: block;
}
.openedNav3:hover {
    display: block;
}
.openedNav4:hover {
    display: block;
}

.flexBox {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 280px;
    border-bottom: 1px solid #DEDEDE;
}
.flexBox3 {
    height: 420px;
}
.menuContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 20vw;
    height: 100%;
    font-size: 0px;
}
@media screen and (max-width: 1310px){
    .menuContainer {
        margin: 0 10vw;
    }
}
.openedNav a {
    display: block;
    font-size: 14px;
    color: #1e1e1e;
    line-height: 19px;
}
.openedNav a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}
.menus {
    width: 100%;
    height: 100%;
    border-right: 1px solid #DEDEDE;
    word-break: keep-all;
}
.firstMenus {
    border-left: 1px solid #DEDEDE;
}
.menus .main {
    margin-top: 3.5vw;
    margin-bottom: 17px;
    font-weight: 700;
}
.menus .subLink {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #666;
}
input, .navBtn, .navBox, .bars, .times {
    display: none;
}

/* 1080px 이하 화면 (1080px 부터 footer 영역의 요소들이 부딪힘)*/
@media screen and (max-width: 1080px) {
    .lang {
        display: none;
    }
    .siteContainer {
        display: none;
    }
    .nav1:hover ~ .openedNav1 {
        display: none;
    } 
    .nav2:hover ~ .openedNav2 {
        display: none;
    }
    .nav3:hover ~ .openedNav3 {
        display: none;
    }
    .nav4:hover ~ .openedNav4 {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .navContainer {
        display: none;
    }
    .content > .main {
        transform: translateY(50px);
        margin-bottom: 20%;
    }
    .content > .main > .img {
        height: 100vw;
    }
    .content > .main > .text {
        top: 20%;
        font-size: 8vw;
        line-height: 10vw;
    }
    .cardContainer {
        margin-top: 25vw;
    }
    .card {
        height: 40vw;
        padding-top: 10vw;
        background-color: white;
    }
    .card1 {
        border-bottom: 1px solid #DEDEDE;
    }
    .card h2 {
        font-size: 6vw;
        line-height: 8vw;
    }
    .cardLink {
        font-size: 4.5vw;
    }
    .card .photo {
        display: none;
    }
    .header .title {
        font-size: 24px;
    }
    .header {
        height: 50px;
    }
    .content {
        padding-top: 0;
    }
    .navBtn {
        display: block;
        position: fixed;
        width: 1.7rem;
        height: 1.7rem;
        top: 15px;
        right: 16.5px;
        cursor: pointer;
        z-index: 103;
        background-color: rgba(192, 53, 53, 0);   
    }
    .bars {
        display: block;
        position: fixed;
        width: 2rem;
        height: 1.5rem;
        top: 15px;
        right: 10px;
        font-size: 1.4rem;
        color: #111;
        z-index: 101;
    }
    .times {
        display: none;
        position: fixed;
        width: 2rem;
        height: 1.5rem;
        top: 15px;
        right: 10px;
        font-size: 1.6rem;
        color: rgb(255, 255, 255);
        z-index: 102;
    }
    input {
        position: fixed;
    }
    #navBtn:checked ~ .bars {
        display: none;
    }
    #navBtn:checked ~ .times {
        display: block;
    }
    #navBtn:checked ~ .navBox{
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #111;
        color: white;
        z-index: 101;
        overflow: hidden;
        font-family: 'Noto Sans KR', sans-serif;
    }
    .navBox .title {
        margin-top: 20px;
        margin-bottom: 70px;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 300;
    }
    .navBox a {
        margin: 8px 25px;
        margin-bottom: 20px;
        height: 40px;
        padding: 0 0;
        color: white;
        font-weight: 300;
        font-size: 1.2rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .summary {
        flex-direction: column;
        align-items: center;
    }
    .summaryInfo {
        width: 90%;
        padding-bottom: 10vw;
        padding-top: 10vw;
        border-bottom: 1px solid #DEDEDE;
        word-break: keep-all;
    }
    .service {
        height: 30%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30vw;
    }
    .serviceInfo {
        overflow: hidden;
        width: 90%;
    }
    
}